body {
    font-family: "roboto", "open-sans", "raleway", sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
}
.page nav {
    text-decoration: underline;
    color: inherit;
}
.page-nav .link:hover {
    color: #ff18c5;
}

.page-nav .link:active {
    color: #df1f1f;
}
.adress {
    color: inherit;
}
.adress .link:hover {
    color: #ff18c5;
}
.adress .link:active {
    color: #df1f1f;
}
.header2 {
    font-weight: bold;
    size: 36px;
    letter-spacing: 2%;
}
.header3 {
    font-weight: medium;
    size: 20px;
    letter-spacing: 2%;
}
.section1 {
    background-color: #2e2f42;
}
.title {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2%;
    size: 56px;
}
.cursor {
    color: inherit;
    font-weight: medium;
    size: 16px;
    letter-spacing: 2%;
}
.section2 {
    background-color: #f4f4fd;
}
.footer-background {
    background-color: #2e2f42;
}
.text {
    color: #ffffff;
    size: 12px;
    letter-spacing: 4%;
}
